/* note: a lot of this is straight-up ripped from my other projects. i am sorry */

.sidenav {
  width: 200px;
  position: fixed; 
  z-index: 1; 
  top: 20px; 
  left: 20px;
  background-color: #FEA7B1; 
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 5px;
  padding-bottom: 5px;
}

/* nav menu links one */
.sidenav a {
  padding: 6px 6px 6px 16px;
  text-decoration: none;
  font-family: "Arial";
  font-size: 20px;
  color: #ffffff;
  display: block;
}

/* link hover */
.sidenav a:hover {
  color: #D55C6A;
}

/* page content */
.stuff {
  margin-left: 250px;
  margin-right: 300px;
}

/* page */
body {
  background-color: #ffffff;
}
